.container {
    margin-top: 20px
}

.movie-details {
    margin-bottom: 20px;
    padding-top: 20px
}

.movie-poster {
    border-radius: 5px;
    width: auto;
    max-height: 480px
}

h1 {
    font-size: 2em;
    margin-bottom: 10px
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085
}

@media (max-width: 390px) {
    .movie-details {
        padding-top: 0
    }
}

@media (max-width: 576px) {
    .movie-details {
        padding-top: 0
    }
}

.comment-form {
    padding: 20px 40px 20px 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgb(0 0 0 / .1)
}

.comment-form label {
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    color: #333;
    font-size: 18px
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: vertical
}

.comment-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px
}

.comment-form button:hover {
    background-color: #0056b3
}

.comments-section {
    padding: 20px 40px 20px 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / .1)
}

.comment {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.comment:last-child {
    border-bottom: none
}

.comment h5 {
    margin: 0;
    font-size: 1.3em;
    color: #007BFF
}

.comment span {
    display: block;
    margin-top: 5px;
    color: #555;
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.login-notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
    font-size: 20px
}

@media (max-width: 600px) {
    .login-notification {
        padding: 10px
    }
}

.cboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .9);
    display: none;
    z-index: 9998
}

.colorbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 420px;
    background-color: #fff;
    display: none;
    z-index: 9999;
    overflow: hidden
}

.colorbox iframe {
    width: 100%;
    height: 100%
}

.cboxClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer
}

@media (min-width: 1280px) {
    .colorbox {
        width: 1024px;
        height: 576px
    }
}

@media (max-width: 1280px) {
    .colorbox {
        width: 768px;
        height: 432px
    }
}

@media (max-width: 780px) {
    .colorbox {
        width: 650px;
        height: 420px
    }
}