<!doctype html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org" xmlns:sec = "https://www.thymeleaf.org">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Thanh toán</title>
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin = "anonymous">
        <link th:href = "@{/css/bill.css}" rel = "stylesheet"/>
    </head>
    <body>
        <header th:replace = "~{common/header :: header}"></header>
        <br>
        <br>
        <h1 class = "text-center">Đặt vé thành công!</h1>
        <br>
        <div class = "text-center" th:if = "${allSelectedSeats != 0}">
            <h1>Đã đặt:
                <span th:text = "${allSelectedSeats.size()}"></span> ghế.
            </h1>
            <h2>Tổng tiền:
                <span th:text = "${allSelectedSeats.size() * 50}"></span>.000 VNĐ
            </h2>
            <br>
            <div class = "container">
                <table class = "booking-table">
                    <thead>
                    <tr>
                        <th class = "booking-header">Tên phim</th>
                        <th class = "booking-header">Số thứ tự</th>
                        <th class = "booking-header">Giờ chiếu</th>
                        <th class = "booking-header">Ngày chiếu</th>
                        <th class = "booking-header">Thời gian đặt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "seat : ${allSelectedSeats}" th:if = "${seat <= 20}">
                        <td class = "booking-cell" th:text = "${movie.title}"></td>
                        <td class = "booking-cell" th:text = "'A' + ${(seat - 1) % 20 + 1}"></td>
                        <td class = "booking-cell" th:text = "${showTime}"></td>
                        <td class = "booking-cell" th:text = "${showDate}"></td>
                        <td class = "booking-cell" th:text = "${bookTime}"></td>
                    </tr>
                    <tr th:each = "seat : ${allSelectedSeats}" th:if = "${seat <= 40 && seat > 20}">
                        <td class = "booking-cell" th:text = "${movie.title}"></td>
                        <td class = "booking-cell" th:text = "'B' + ${(seat - 1) % 20 + 1}"></td>
                        <td class = "booking-cell" th:text = "${showTime}"></td>
                        <td class = "booking-cell" th:text = "${showDate}"></td>
                        <td class = "booking-cell" th:text = "${bookTime}"></td>
                    </tr>
                    <tr th:each = "seat : ${allSelectedSeats}" th:if = "${seat <= 60 && seat > 40}">
                        <td class = "booking-cell" th:text = "${movie.title}"></td>
                        <td class = "booking-cell" th:text = "'C' + ${(seat - 1) % 20 + 1}"></td>
                        <td class = "booking-cell" th:text = "${showTime}"></td>
                        <td class = "booking-cell" th:text = "${showDate}"></td>
                        <td class = "booking-cell" th:text = "${bookTime}"></td>
                    </tr>
                    <tr th:each = "seat : ${allSelectedSeats}" th:if = "${seat <= 80 && seat > 60}">
                        <td class = "booking-cell" th:text = "${movie.title}"></td>
                        <td class = "booking-cell" th:text = "'D' + ${(seat - 1) % 20 + 1}"></td>
                        <td class = "booking-cell" th:text = "${showTime}"></td>
                        <td class = "booking-cell" th:text = "${showDate}"></td>
                        <td class = "booking-cell" th:text = "${bookTime}"></td>
                    </tr>
                    <tr th:each = "seat : ${allSelectedSeats}" th:if = "${seat <= 100 && seat > 80}">
                        <td class = "booking-cell" th:text = "${movie.title}"></td>
                        <td class = "booking-cell" th:text = "'E' + ${(seat - 1) % 20 + 1}"></td>
                        <td class = "booking-cell" th:text = "${showTime}"></td>
                        <td class = "booking-cell" th:text = "${showDate}"></td>
                        <td class = "booking-cell" th:text = "${bookTime}"></td>
                    </tr>
                    <tr th:each = "seat : ${allSelectedSeats}" th:if = "${seat <= 120 && seat > 100}">
                        <td class = "booking-cell" th:text = "${movie.title}"></td>
                        <td class = "booking-cell" th:text = "'F' + ${(seat - 1) % 20 + 1}"></td>
                        <td class = "booking-cell" th:text = "${showTime}"></td>
                        <td class = "booking-cell" th:text = "${showDate}"></td>
                        <td class = "booking-cell" th:text = "${bookTime}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <img th:src = "@{/images/qr.jpg}" alt = "qr" class = "center-img">
        <br>
        <div class = "text-center button-container">
            <a th:href = "@{/}">
                <button type = "submit" class = "btn btn-primary">Quay về trang chủ</button>
            </a>
        </div>
        <br>
        <br>
        <footer th:replace = "~{common/footer :: footer}"></footer>
        <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin = "anonymous"></script>
    </body>
</html>